@font-face {
  font-family: 'Campton ExtraLight';
  src: url('Rene.Bieder_Campton.ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('Rene.Bieder_Campton.ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Rene.Bieder_Campton.ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('Rene.Bieder_Campton.ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Rene.Bieder_Campton.ExtraLight.svg#c32d42c2a18432b8b3247458160aefce') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Campton Medium';
  src: url('Rene.Bieder_Campton.Medium.eot'); /* IE9 Compat Modes */
  src: url('Rene.Bieder_Campton.Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Rene.Bieder_Campton.Medium.woff') format('woff'), /* Modern Browsers */
       url('Rene.Bieder_Campton.Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Rene.Bieder_Campton.Medium.svg#4b795d143b94453d46748baed030e15a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Campton Book';
  src: url('Rene.Bieder_Campton.Book.eot'); /* IE9 Compat Modes */
  src: url('Rene.Bieder_Campton.Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Rene.Bieder_Campton.Book.woff') format('woff'), /* Modern Browsers */
       url('Rene.Bieder_Campton.Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Rene.Bieder_Campton.Book.svg#539bd9c45d8c6738cfda9bd764bef0e7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

